<%- include('header') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-9"><h2>Deine Events</h2></div>
			<div class="col-xs-3">
      	<form action="/events/new">
      	  <input type="submit" class="btn btn-primary pull-right" value="Event erstellen"></input>
      	</form>
			</div>
  </div>

  <div class="row">
		<div class="col-xs-12">
			<h3>Anstehende Events</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<% if (upcomingEvents.length > 0) { %>
				
				<table class="table table-striped">
  			  <tr>
  			    <th>Name</th>
  			    <th>Ort</th>
  			    <th>Zeit</th>
  			    <th>Teilnahme ändern</th>
  			    <th>Zugesagt</th>
  			  </tr>
  			  <% upcomingEvents.forEach(function (event) { %>
  			    <tr id="event-<%= event.id %>">
  			        <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
  			        <td><%= event.location %></td>
  			        <td><%= event.date %>, <%= event.time %> Uhr</td>
                <!-- onclick="exitEvent(<%= event.id %>, <%= JSON.stringify(event.member) %>, <%= user.id %>)" -->
  			        <td><button type="button" class="js-leave-event btn btn-danger" data-eid="<%= event.id %>" data-uid="<%= user.id %>">absagen</button></td>
								<td>
									<% event.member.forEach(function (participant) { %>
									<%= participant.name %>
									<% }); %>
								</td>
  			    </tr>
  			  <% }); %>
  			  
  			</table>
			<% } else { %>
				<p>Du hast keine anstehenden Events.</p>
			<% } %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>Vergangene Events</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<% if (pastEvents.length > 0) { %>
			
				<table class="table table-striped">
  			  <tr>
  			    <th>Name</th>
  			    <th>Ort</th>
  			    <th>Zeit</th>
  			    <th>Zugesagt</th>
  			  </tr>
  			  <% pastEvents.forEach(function (event) { %>
  			    <tr>
  			        <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
  			        <td><%= event.location %></td>
  			        <td><%= event.date %>, <%= event.time %> Uhr</td>
  			        <td><%=1 %></td>
  			    </tr>
  			  <% }); %>
  			  
  			</table>
			<% } else { %>
				<p> Du hast bisher an keinen Events teilgenommen, sei nicht schüchtern <p>
			<% } %>
		</div>
	</div>
	
</div>

<%- include('footer') %>
