<%- include('header') %>

<!-- DEBUG -->
<%= console.log(event); %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12"><h2><%= event.name %></h2></div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ort</th>
      <th>Zeit</th>
      <th>Teilnahme ändern</th>
    </tr>
    
      <tr>
        <td><%= event.id %></td>
        <td><%= event.name %></td>
        <!-- Implement those two later, when Event structure is unified -->
        <td><%= event.location %></td>
        <td><%= event.time %> Uhr</td>
        <td><button type="button" class="btn btn-danger">absagen</button></td>
      </tr>
    
  </table>
</div>

<%- include('footer') %>