<%- include('header') %>

<!-- DEBUG -->
<%= console.log(event); %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12"><h3><%= event.name %></h3></div>
  </div>

  <dl class="dl-horizontal">
    <dt>Ort</dt>
    <dd><%= event.location %></dd>
    <dt>Datum</dt>
    <dd><%= event.date %></dd>
    <dt>Uhrzeit</dt>
    <dd><%= event.time %> Uhr</dd>
    <button type="button" class="js-leave-event btn btn-danger" data-eid="<%= event.id %>" data-uid="<%= user.id %>">absagen</button>
  </dl>
</div>

<%- include('footer') %>