<%- include('header') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-9"><h2>Deine Events</h2></div>
			<div class="col-xs-3">
      	<form action="/events/new">
      	  <input type="submit" class="btn btn-primary pull-right" value="Event erstellen"></input>
      	</form>
			</div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ort</th>
      <th>Zeit</th>
      <th>Teilnahme ändern</th>
    </tr>
    <% events.forEach(function (event) { %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.date %>, <%= event.time %> Uhr</td>
        <td><button type="button" class="btn btn-danger">absagen</button></td>
      </tr>
    <% }); %>
    
  </table>
</div>

<%- include('footer') %>
