<%- include('header') %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Alle Gruppen</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Anzahl der Mitglieder</th>
              <th>Aktion</th>
            </thead>
            <tbody class="js-group-table-body">
              <% groups.forEach(function (group) { %>
              <tr>
                <td><%= group.id %></td>
                <td><%= group.name %></td>
                <td><%= group.members ? group.members.length : 0 %></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-danger js-leave-group" data-id="<%= group.id %>"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-xs btn-success js-add-to-group" data-toggle="modal" data-target="#inviteUserModal" data-id="<%= group.id %>"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Neue Gruppe anlegen</h3>
        </div>
        <div class="panel-body">
          <form action="/groups/save" id="newGroup">
            <div class="form-group">
              <label for="inputGroupName">Name</label>
              <input type="text" class="form-control" id="inputGroupName" placeholder="Meine tolle Gruppe">
            </div>
            <button type="submit" class="btn btn-success">Anlegen</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addModalLabel">User zur Gruppe einladen</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inviteUserId">Username</label>
              <input type="text" class="form-control" id="inviteUserName" placeholder="Username">
            </div>
          </div>
          <div class="modal-footer">
            <button name="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            <button type="button" class="btn btn-primary js-invite-user">Einladen</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%- include('footer') %>