<%- include('header') %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% user.notifications.forEach(function(notification) { %>
          <div class="panel panel-default" id="not<%= notification.id %>">
            <div class="panel-body">
              <%= notification.message %>
            </div>
            <div class="panel-footer">
              <% if (notification.type === 'GROUPINVITE') { %>
                <form action="/groups/invite/respond" method="POST" style="display: inline">
                  <input type="hidden" name="groupId" value="<%= notification.groupId %>">
                  <input type="hidden" name="notifyId" value="<%= notification.id %>">
                  <input type="hidden" name="fromId" value="<%= notification.fromId %>">
                  <div class="btn-group">
                    <button name="type" value="accept" class="js-delete-notification btn btn-success btn-sm">Akzeptieren</button>
                    <button name="type" value="decline" class="js-delete-notification btn btn-warning btn-sm">Ablehnen</button>
                  </div>
                </form>
              <% } %>
							<% if (notification.type === 'EVENTINVITE') { %>
								<form action="/events/invite/respond" method="POST" style="display: inline">
									<input type="hidden" name="groupId" value="<%= notification.groupId %>">	
									<input type="hidden" name="notifyId" value="<%= notification.id %>">
									<input type="hidden" name="fromID" value="<%= notification.fromId  %>">
									<div class="btn-group">
										<button name="type" value="going" class="js-delete-notification btn btn-success btn-sm">Zusagen</button>
										<button name="type" value="notGoing" class="js-delete-notification btn btn-warning btn-sm">Absagen</button>
									</div>
								</form>
							<% } %>
              <div class="btn-group">
                <form action="/notifications/delete" method="POST" style="display: inline">
                  <input type="hidden" name="notifyId" value="<%= notification.id %>">
                  <button class="btn btn-danger btn-sm">Löschen</button>
                </form>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
<%- include('footer') %>
